[{{- .Riding.RidingID}}] {{.Candidate.PartyShortEng}} {{.Candidate.Firstname}} {{.Candidate.Lastname}}{{if .Candidate.Previous}} [incumbent]{{end}} - {{.Candidate.Votes}} votes, {{.Candidate.Margin}} margin {{if .Candidate.Prominent}}({{.Candidate.Prominent}}){{end}}
