[{{- .Riding.RidingID}}] {{.Candidate.Firstname}} {{.Candidate.Lastname}}{{if .Candidate.Previous}} [incumbent]{{end}} {{.Candidate.PartyShortEng}} {{.Riding.RidingNameEng}} {{if .Candidate.Prominent}}({{.Candidate.Prominent}}){{end}}
