{{.ElectionNameEng}}, Ridings: {{.RidingsCalled}}/{{.TotalRidings}}, Polls: {{.ReportedPolls}}/{{.TotalPolls}}
{{.ElectedParty.PartyShortEng}} {{.ElectedParty.CallType}} {{.ElectedParty.EnglishCallStatement}}
{{range .OverviewPartyDetails -}}
  {{.PartyShortEng}}: {{.Elected}} elected, {{.Leading}} leading, {{.Votes}} votes, {{.PopularVotePercentage}}% popular vote
{{end -}}
