<html>
    <head>
        <title>{{.image.Prompt}}</title>
        <style>
         body {
             font-family: monospace;
             background: black;
             color: white;
             max-width: 1000px;
             margin: auto;
         }
         a {
             text-decoration: none;
         }
        </style>
    </head>
    <body>
      <div style="display:flex; flex-wrap: wrap; gap: 1em">
        {{range .images}}
          <a href="/i/{{.ID}}">
            <img src="/images/{{.ID}}.png" alt="{{.Prompt}}" width="128" height="128" loading="lazy">
          </a>
        {{end}}
      </div>
    </body>
</html>
