<html>
  <head>
    <title>weird network</title>
    <meta name="robots" content="noindex,nofollow">
    <style>
     .nowrap {
       white-space: nowrap;
     }
    </style>
  </head>
  <body>
    <div>
      <a href="/">all</a>
      {{range .nicks}}
        <a href="?nick={{.Nick.String}}">{{.Nick.String}}</a>
      {{end}}
      -- <a href="/snapshot.db">db</a>
    </div>

    <table>
      {{range .notes}}
        <tr>
          <td class="nowrap">
            {{time .CreatedAt}}
          </td>
          <td>
            {{if .Anon}}
              ???
            {{else}}
              {{.Nick.String}}
            {{end}}
          </td>
          <td>
            {{if eq .Kind "link"}}
              <a href="{{.Text.String}}">{{.Text.String}}</a>
            {{else}}
              {{.Text.String}}
            {{end}}
          </td>
        </tr>
      {{end}}
    </table>
  </body>
</html>
